<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="userService" class="services.UserServiceImpl">
    <constructor-arg name="userRepository" ref="userRepository"/>
    <constructor-arg name="basketRepository" ref="basketRepository"/>
    <constructor-arg name="bookRepository" ref="bookRepository"/>
    <constructor-arg name="encoder" ref="encoder"/>

</bean>
<bean id="orderService" class="services.OrderServiceImpl">
    <constructor-arg name="basketRepository" ref="basketRepository"/>
    <constructor-arg name="orderRepository" ref="orderRepository"/>
    <constructor-arg name="userRepository" ref="userRepository"/>

</bean>
<bean id="bookService" class="services.BookServiceImpl">
    <constructor-arg name="bookRepository" ref="bookRepository"/>
</bean>
<bean id="basketService" class="services.BasketServiceImpl">
    <constructor-arg name="basketRepository" ref="basketRepository"/>
</bean>


<bean id="userRepository" class="repositories.UserRepositoryJdbcTemplateImpl">
    <constructor-arg name="dataSource" ref="dataSource"/>
</bean>
<bean id="orderRepository" class="repositories.OrderRepositoryJdbcTemplate">
    <constructor-arg name="dataSource" ref="dataSource"/>
</bean>

<bean id="basketRepository" class="repositories.BasketRepositoryJdbcTemplateImpl">
    <constructor-arg name="dataSource" ref="dataSource"/>
</bean>

<bean id="bookRepository" class="repositories.BookRepositoryJdbcTemplateImpl">
    <constructor-arg name="dataSource" ref="dataSource"/>
</bean>

<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
    <property name="username" value="postgres"/>
    <property name="password" value="12398aa98"/>
    <property name="driverClassName" value="org.postgresql.Driver"/>
    <property name="url" value="jdbc:postgresql://localhost:5432/postgres"/>
</bean>

<bean id="encoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>


</beans>