<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<beans xmlns="http://www.springframework.org/schema/beans"-->
       <!--xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
       <!--xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">-->

<!--<bean id="userService" class="com.merenaas.services.UserServiceImpl">-->
    <!--<constructor-arg name="userRepository" ref="userRepository"/>-->
    <!--<constructor-arg name="basketRepository" ref="basketRepository"/>-->
    <!--<constructor-arg name="bookRepository" ref="bookRepository"/>-->
    <!--<constructor-arg name="encoder" ref="encoder"/>-->

<!--</bean>-->
<!--<bean id="orderService" class="com.merenaas.services.OrderServiceImpl">-->
    <!--<constructor-arg name="basketRepository" ref="basketRepository"/>-->
    <!--<constructor-arg name="orderRepository" ref="orderRepository"/>-->
    <!--<constructor-arg name="userRepository" ref="userRepository"/>-->

<!--</bean>-->
<!--<bean id="bookService" class="com.merenaas.services.BookServiceImpl">-->
    <!--<constructor-arg name="bookRepository" ref="bookRepository"/>-->
<!--</bean>-->
<!--<bean id="basketService" class="com.merenaas.services.BasketServiceImpl">-->
    <!--<constructor-arg name="basketRepository" ref="basketRepository"/>-->
<!--</bean>-->


<!--<bean id="userRepository" class="com.merenaas.repositories.UserRepositoryJdbcTemplateImpl">-->
    <!--<constructor-arg name="dataSource" ref="dataSource"/>-->
<!--</bean>-->
<!--<bean id="orderRepository" class="com.merenaas.repositories.OrderRepositoryJdbcTemplate">-->
    <!--<constructor-arg name="dataSource" ref="dataSource"/>-->
<!--</bean>-->

<!--<bean id="basketRepository" class="com.merenaas.repositories.BasketRepositoryJdbcTemplateImpl">-->
    <!--<constructor-arg name="dataSource" ref="dataSource"/>-->
<!--</bean>-->

<!--<bean id="bookRepository" class="com.merenaas.repositories.BookRepositoryJdbcTemplateImpl">-->
    <!--<constructor-arg name="dataSource" ref="dataSource"/>-->
<!--</bean>-->

<!--<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">-->
    <!--<property name="username" value="postgres"/>-->
    <!--<property name="password" value="12398aa98"/>-->
    <!--<property name="driverClassName" value="org.postgresql.Driver"/>-->
    <!--<property name="url" value="jdbc:postgresql://localhost:5432/postgres"/>-->
<!--</bean>-->

<!--<bean id="encoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>-->


<!--</beans>-->